<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenFilesLocker.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <OpenFilesLocker.AppSettings>
            <setting name="GenerationDelay" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="CheckLocksDelay" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="RemoteLocations" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>\\localhost\mirror\remote</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OpenFilesFilename" serializeAs="String">
                <value>openfiles.dat</value>
            </setting>
            <setting name="LocalShare" serializeAs="String">
                <value>c:\temp\mirror\local</value>
            </setting>
            <setting name="WorkingFolder" serializeAs="String">
                <value>c:\temp</value>
            </setting>
            <setting name="Exceptions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>filesync.metadata</string>
                        <string>*.amb</string>
                        <string>openfiles.dat</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LogVerbosity" serializeAs="String">
                <value>3</value>
            </setting>
        </OpenFilesLocker.AppSettings>
    </userSettings>
</configuration>